@charset "UTF-8";
.bg-1 {
  background-color: #22284b !important;
}

.bg-2 {
  background-color: #e74817 !important;
}

.bg-3 {
  background-color: #2c50a6 !important;
}

.btn-transparent {
  background-color: transparent !important;
}

.arrow {
  width: 20px;
  height: 20px;
}

.arrow :hover {
  display: none;
}

.arrow2 {
  display: none;
  width: 20px;
  height: 20px;
}

.arrow2 :active {
  display: block !important;
}

.btn-check:focus + .btn-drop, .btn-drop:focus, .btn-drop:hover {
  color: #2c50a6 !important;
  background-color: white !important;
  border-color: #234085;
  border: none !important;
}

.btn-drop {
  width: 100% !important;
  border-radius: 0 !important;
}

/* ============ Search ============ */
.search {
  position: relative;
}

.search button {
  background: #e74817;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 25px;
}

.search input {
  width: 500px;
  border-radius: 25px;
}

@media screen and (max-width: 992px) {
  .search input {
    display: none;
  }
  .search button {
    display: none;
  }
  .text-cadastro {
    display: none;
  }
  .loupe {
    display: block !important;
  }
}

.search-offcanva {
  position: relative;
}

.search-offcanva button {
  background: #e74817;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 25px;
}

.search-offcanva input {
  width: 100%;
  border-radius: 25px;
}

@media screen and (max-width: 992px) {
  .search-offcanva input {
    display: block;
  }
  .search-offcanva button {
    display: block;
  }
  .text-cadastro {
    display: block;
  }
  .loupe {
    display: block !important;
  }
}

/* ============ Search end ============ */
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .dropdown-menu {
    width: 100% !important;
  }
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100% !important;
    top: -20px;
  }
  .nav-item .submenu-left {
    right: 100% !important;
    left: auto;
  }
  .nav-item .submenu-last {
    display: none;
    position: absolute;
    left: -100% !important;
    top: -20px;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
  .dropdown-menu > li:hover > .submenu-last {
    display: block;
  }
}

/* ============ desktop view .end// ============ */
/* ============ small devices ============ */
@media (max-width: 991px) {
  .navbar-dropdown {
    display: none !important;
  }
}

/* ============ small devices .end// ============ */
/* ============= Banner =============*/
.banner-img {
  width: 100%;
  height: auto;
}

/* ============= Banner .end =============*/
/*============== Card ================*/
.btn-card {
  background-color: #ced4da !important;
  color: white !important;
  border-radius: 25px !important;
  font-size: 0.8rem !important;
}

.btn-card:hover {
  background-color: #22284b !important;
}

.btn-card img {
  display: inline-block;
}

.slick-next:before {
  content: '→';
  color: #e74817;
  right: 15px !important;
  position: relative;
}

.slick-prev:before {
  content: '←';
  color: #e74817;
  left: 15px !important;
  position: relative;
}

/*============== Card .end ================*/
.form-oft input {
  height: 45px !important;
  border-radius: 25px;
}

.form-oft label {
  height: 45px !important;
  padding-top: 0.6rem !important;
  margin-left: 0.8rem !important;
}

.btn-oft {
  border-radius: 25px !important;
}

/*===========Scrollbar==========*/
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #ced4da;
}

body::-webkit-scrollbar-thumb {
  background-color: #7d8083;
  border-radius: 20px;
}

/*===========Scrollbar End==========*/
/*===========galery img==========*/
.img-box {
  position: relative;
}

.img-thumb {
  width: 100% !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.img-box-small {
  position: absolute;
  top: 63%;
  left: 0;
}

.img-small {
  max-width: 90px !important;
}

.active {
  border: 1px solid #e74817 !important;
}

/*===========galery img==========*/
/*# sourceMappingURL=style.css.map */