$color-1: #22284b;
$color-2: #e74817;
$color-3: #2c50a6;

.bg-1{
    background-color: $color-1 !important;
}

.bg-2{
    background-color: $color-2 !important;
}

.bg-3{
    background-color: $color-3 !important;
}

$custom-colors: (
  "custom-color": #900
);

.search{
    position: relative;
}
.search button{
    position: absolute;   
    top: 0; 
    right: 0;
    border-radius: 25px;
}
.search input{
    width: 500px;
    border-radius: 25px;
}

.arrow{
    width: 20px;
    height: 20px;
}
.arrow :hover{
    display: none;
}

.arrow2{
    display: none;
}
.arrow2 :hover{
    display: block !important;
    width: 20px;
    height: 20px;
}

.link-dropdown{
    text-decoration: none;
}

.div-dropdown :hover{
    background-color: white !important;
    color: #2c50a6 !important;
}

@media screen and (max-width:992px) {
    .search input{
        width: 300px;
    }
}

@media screen and (max-width:768px) {
    .search input{
        display: none;
    }
    .search button{
        display: none;
    }
    .text-cadastro{
        display: none;
    }
    .loupe{
        display: block !important;
    }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";  
