$color-1: #22284b;
$color-2: #e74817;
$color-3: #2c50a6;

.bg-1{
    background-color: $color-1 !important;
}

.bg-2{
    background-color: $color-2 !important;
}

.bg-3{
    background-color: $color-3 !important;
}

.search{
    position: relative;
}
.search button{
    background: $color-2;
    position: absolute;   
    top: 0; 
    right: 0;
    border-radius: 25px;
}
.search input{
    width: 500px;
    border-radius: 25px;
}

.arrow{
    width: 20px;
    height: 20px;
}
.arrow :hover{
    display: none;
}

.arrow2{
    display: none;
    width: 20px;
    height: 20px;
}
.arrow2 :active{
    display: block !important;
}

.btn-check:focus + .btn-drop, .btn-drop:focus, .btn-drop:hover {
    color: $color-3 !important;
    background-color: white !important;
    border-color: #234085;
    border: none !important;
}
.btn-drop{
    width: 100% !important;
    border-radius: 0 !important;
}

/* ============ Search ============ */
@media screen and (max-width:992px) {
    .search input{
        display: none;
    }
    .search button{
        display: none;
    }
    .text-cadastro{
        display: none;
    }
    .loupe{
        display: block !important;
    }
}
/* ============ Search end ============ */

//Mega Menu
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .dropdown-menu{
        width: 100% !important;
    }
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100% !important; 
        top:-20px;
	}
	.nav-item .submenu-left{ 
		right:100% !important; left:auto;
	}
    .nav-item .submenu-last{
        display: none;
		position: absolute;
		left:-100% !important; 
        top:-20px;
    }
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }
    .dropdown-menu > li:hover > .submenu-last{ display: block; }
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu{
        margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
    }
    .drop-nav{
        flex-direction: row !important;
    }
}	
/* ============ small devices .end// ============ */

  
